.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.SiteLog {
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;	
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif, bold;
    font-weight: bold;
	
	margin: auto;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);;
}

.SiteReg {
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;	
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif, bold;
    font-weight: bold;
	
	margin: auto;
	margin-top: 40px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title {
	margin-top: 15%;
	
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif, bold;
    font-weight: bold;
}